<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>BindungDerTiere</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="site-header">
        <h1>Bindung-der-Tiere</h1>
    </header>
    <nav class="site-nav">
        <%= link_to "ホーム", root_path %>
        <%= link_to "ログイン", new_user_session_path %>
        <%= link_to "新規登録", new_user_registration_path %>
    </nav>
    <%= yield %>
    <footer class="site-footer">
      <p>&copy; 2024 Bindung-der-Tiere. All rights reserved.</p>
    </footer>
  </body>
</html>
