<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>BindungDerTiere</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="site-header">
        <h1>ペット情報共有サイト</h1>
    </header>
    <nav class="site-nav">
        <a href="/">ホーム</a>
        <a href="/">ログイン</a>
        <a href="/">新規登録</a>
    </nav>
    <%= yield %>
    <footer class="site-footer">
      <p>&copy; 2024 ペット情報共有サイト. All rights reserved.</p>
    </footer>
  </body>
</html>
